VITE_SUPABASE_URL=https://YOUR_PROJECT_ID.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_ANON_KEY
VITE_HOTEL_PHONE=210-2281031
VITE_HOTEL_EMAIL=info@insype.com.gr
VITE_HOTEL_ADDRESS=Τεώ 25 & Ολοφύτου, Τ.Κ. 11142 Αθήνα